.App{
  background-color: rgb(251, 211, 218);
  height: 100vh;
}
.backgroundPic{
  width: 630px;
  position: absolute;
  display: flex;
}
.mainDiv{
  display: flex;
  justify-content: center;
}
 .btnSearch{
  border: none;
  background-color: transparent;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
  color: darkgreen;
}
.text{
  margin-top: 40px;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  width: 500px;
  display: flex;
  justify-content: center;
}
.box{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}
.date{
  margin-bottom: 130px;
}
@media all and (max-width:500px){
  .backgroundPic{
    width: 380px;
  }
  .date{
    margin-bottom: 65px;
  }
  .btnSearch{
      font-size: 20px;
  }
  .text{
    margin-top: 20px;
    width: 350px;
  }
}